/*** GLOBAL ***/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.info > ul > li {
    display: inline;
    margin-right: 20px;
}

.info > ul > li:last-of-type {
    margin-right: 0;
}

a:link {
    text-decoration: none;
}

header a:hover, footer a:hover {
    font-weight: bold;
}

ul {
    list-style-type: none;
}

body {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14pt;
    line-height: 1.5;
    width: 640px;
    margin: auto;
}

/*** Header ***/

header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.info {
    display: flex;
    align-items: center;
}

.motto {
    text-align: center;
    padding: 5px 20px;
    font-size: 14px;
    border-top: 1px solid black;
}

/*** Main ***/

main {
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.preview {
    margin-bottom: 20px;
}

.preview:last-of-type {
    margin-bottom: 0px;
}


.preview .title, .preview .summary {
    padding-bottom: 10px;
}

.preview .date {
    text-align: right;
    font-size: 14px;
}

/*** Footer ***/

footer {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.donazioni {
    width: 50%;
    height: 100%;
}

.social {
    width: 50%;
    height: 100%;
    text-align: right;
}

/* Mobile Styles */
@media only screen and (max-width: 630px) {

    body {
        width: 100%;
        padding: 10px 0px;
    }

    header {
        align-items: center;
        flex-direction: column;
    }

    .preview {
        flex-direction: column;
    }

    footer {
        align-items: center;
        flex-direction: column;
    }

    .donazioni {
        text-align: center;
    }
    
    .social {
        padding-top: 20px;
        text-align: center;
    }
}

@media (prefers-color-scheme: dark) {

    body {
        background-color: #303030;
        color: #eee;
    }

    a, p, h1, h2, h3, h4, h5, h6 {
        color: #eee;
        text-decoration: none;
    }

    main a:hover {
        background-color: #282828;
    }
}

@media (prefers-color-scheme: light) {

    a {  
        color: black;
    }

    a:hover {
      color: lightgrey;
      background-color: grey;
      text-decoration: none;
    }

    main a:hover {
        background-color: lightgrey;
    }
}
