/*** GLOBAL ***/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:link {
    text-decoration: none;
}

header a:hover, footer a:hover {
    font-weight: bold;
}

ul {
    list-style-type: none;
}

body {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14pt;
    line-height: 1.5;
    width: 640px;
    margin: auto;
}

/*** Header ***/
header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

header .logo {
    text-align: center; /* Useful for very very strict web pages */
}

header .info {
    display: flex;
    align-items: center;
}

header .info > ul > li {
    display: inline;
    margin-right: 20px;
}

header .info > ul > li:last-of-type {
    margin-right: 0;
}

.motto {
    text-align: center;
    padding: 5px 20px;
    font-size: 14px;
}

/*** Main ***/
main {
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

main > ul > li {
    margin-bottom: 20px;
}

main > ul > li:last-of-type {
    margin-bottom: 0;
}

main .preview {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

main .preview .title, main .preview .summary {
    padding-bottom: 10px;
}

main .preview .date {
    text-align: right;
    font-size: 0.9rem;
}

/*** Footer ***/
footer {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

footer .social {
    text-align: right;
}

footer li, footer p {
    padding-bottom: 8px;
}

/* Mobile Styles */
@media only screen and (max-width: 640px) {

    body {
        width: 100%;
    }

    header {
        align-items: center;
        flex-direction: column;
    }

    header .logo {
        padding-bottom: 8px; /* For mobile accessibility */
    }

    main .preview {
        flex-direction: column;
    }

    footer {
        align-items: center;
        flex-direction: column;
    }

    footer .donazioni {
        text-align: center;
    }
    
    footer .social {
        padding-top: 20px;
        text-align: center;
    }
}

@media (prefers-color-scheme: dark) {

    body {
        background-color: #303030;
    }

    body, a, p, h1, h2, h3, h4, h5, h6 {
        color: #eeeeee;
    }

    main a:hover {
        background-color: #282828;
    }
}

@media (prefers-color-scheme: light) {

    a {  
        color: black;
    }

    main a:hover {
        background-color: lightgrey;
    }
}

/*** Theme: common parts ***/
.motto {
    border-top: 1px solid black;
}

main {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

main .preview {
    border: 1px solid black;
}